{% extends 'rail/base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block body %}

<input type="date"
       value="2018-07-22"
       min="2018-01-01" max="2018-12-31"/>
        <input type="time" name="eta"/>


<div class="w3-display-left" style="width:50vw ;margin-left:4vw; opacity:0.8;">
        <div class="w3-container w3-white w3-padding-16"  style="height: 500px; overflow-y: scroll;">
            <form method="post" novalidate autocomplete="off">
            {% csrf_token %}

            {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
                </div>
            {% endif %}

            <div class = "row">
                <div class = "col-md-6">
                    {{ form.trainNumber.label_tag }}
                    {% if form.is_bound %}
                        {% if form.trainNumber.errors %}
                            {% render_field form.trainNumber class="form-control is-invalid" %}
                            {% for error in form.trainNumber.errors %}
                                <div class="invalid-feedback ">
                                {{ error }}
                                </div>
                            {% endfor %}
                        {% else %}
                            {% render_field form.trainNumber class="form-control is-valid" %}
                        {% endif %}
                    {% else %}
                        {% render_field form.trainNumber class="form-control" %}
                    {% endif %}

                    {% if form.trainNumber.help_text %}
                        <small class="form-text text-muted">{{ form.trainNumber.help_text }}</small>
                    {% endif %}
                </div>
                <div class = "col-md-6">
                    {{ form.trainNumber.label_tag }}
                    {% if form.is_bound %}
                        {% if form.trainNumber.errors %}
                            {% render_field form.trainNumber class="form-control is-invalid" %}
                            {% for error in form.trainNumber.errors %}
                                <div class="invalid-feedback ">
                                {{ error }}
                                </div>
                            {% endfor %}
                        {% else %}
                            {% render_field form.trainNumber class="form-control is-valid" %}
                        {% endif %}
                    {% else %}
                        {% render_field form.trainNumber class="form-control" %}
                    {% endif %}

                    {% if form.trainNumber.help_text %}
                        <small class="form-text text-muted">{{ form.trainNumber.help_text }}</small>
                    {% endif %}
                </div>
                <div class = "col-md-3">
                    {{ form.departureDate.label_tag }}
                    {% if form.is_bound %}
                        {% if form.departureDate.errors %}
                            {% render_field form.departureDate class="form-control is-invalid" %}
                            {% for error in form.departureDate.errors %}
                                <div class="invalid-feedback ">
                                {{ error }}
                                </div>
                            {% endfor %}
                        {% else %}
                            {% render_field form.departureDate class="form-control is-valid" %}
                        {% endif %}
                    {% else %}
                        {% render_field form.departureDate class="form-control" %}
                    {% endif %}

                    {% if form.departureDate.help_text %}
                        <small class="form-text text-muted">{{ form.departureDate.help_text }}</small>
                    {% endif %}
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>


















{% endblock %}