{% extends 'rail/base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block body %}


<div class="w3-display-left" style="width:75vw ;margin-left:12vw; opacity:0.9; ">
    <div class="w3-container w3-white w3-padding-16"  style="height: 100%; border: solid black; border-radius: 20px;">
        <form method="post" novalidate autocomplete="off" >
            {% csrf_token %}
            <h1 class="h3 mb-3 font-weight-normal">Please fill in the details</h1>
            {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
                </div>
            {% endif %}

            <div class = "row">
                <div class = "col-md-5">
                    {{ form.trainNumber.label_tag }}
                    {% if form.is_bound %}
                        {% if form.trainNumber.errors %}
                            {% render_field form.trainNumber class="form-control is-invalid" %}
                            {% for error in form.trainNumber.errors %}
                                <div class="invalid-feedback ">
                                {{ error }}
                                </div>
                            {% endfor %}
                        {% else %}
                            {% render_field form.trainNumber class="form-control is-valid" %}
                        {% endif %}
                    {% else %}
                        {% render_field form.trainNumber class="form-control" %}
                    {% endif %}

                    {% if form.trainNumber.help_text %}
                        <small class="form-text text-muted">{{ form.trainNumber.help_text }}</small>
                    {% endif %}
                </div>
                <div class = "col-md-4">
                    {{ form.departureDate.label_tag }}
                    {% if form.is_bound %}
                        {% if form.departureDate.errors %}
                            {% render_field form.departureDate class="form-control is-invalid" %}
                            {% for error in form.departureDate.errors %}
                                <div class="invalid-feedback ">
                                {{ error }}
                                </div>
                            {% endfor %}
                        {% else %}
                            {% render_field form.departureDate class="form-control is-valid" %}
                        {% endif %}
                    {% else %}
                        {% render_field form.departureDate class="form-control" %}
                    {% endif %}

                    {% if form.departureDate.help_text %}
                        <small class="form-text text-muted">{{ form.departureDate.help_text }}</small>
                    {% endif %}
                </div>
                <div class = "col-md-3">
                    {{ form.departureTime.label_tag }}
                    {% if form.is_bound %}
                        {% if form.departureTime.errors %}
                            {% render_field form.departureTime class="form-control is-invalid" %}
                            {% for error in form.departureTime.errors %}
                                <div class="invalid-feedback ">
                                {{ error }}
                                </div>
                            {% endfor %}
                        {% else %}
                            {% render_field form.departureTime class="form-control is-valid" %}
                        {% endif %}
                    {% else %}
                        {% render_field form.departureTime class="form-control" %}
                    {% endif %}

                    {% if form.departureTime.help_text %}
                        <small class="form-text text-muted">{{ form.departureTime.help_text }}</small>
                    {% endif %}
                </div>
            </div>
            </br>
            <div class = "row">
                <div class = "col-md-3">
                    {{ form.fareac.label_tag }}
                    {% if form.is_bound %}
                        {% if form.fareac.errors %}
                            {% render_field form.fareac class="form-control is-invalid" %}
                            {% for error in form.fareac.errors %}
                                <div class="invalid-feedback ">
                                {{ error }}
                                </div>
                            {% endfor %}
                        {% else %}
                            {% render_field form.fareac class="form-control is-valid" %}
                        {% endif %}
                    {% else %}
                        {% render_field form.fareac class="form-control" %}
                    {% endif %}

                </div>
                <div class = "col-md-3">
                    {{ form.faresl.label_tag }}
                    {% if form.is_bound %}
                        {% if form.faresl.errors %}
                            {% render_field form.faresl class="form-control is-invalid" %}
                            {% for error in form.faresl.errors %}
                                <div class="invalid-feedback ">
                                {{ error }}
                                </div>
                            {% endfor %}
                        {% else %}
                            {% render_field form.faresl class="form-control is-valid" %}
                        {% endif %}
                    {% else %}
                        {% render_field form.faresl class="form-control" %}
                    {% endif %}
                </div>
                <div class = "col-md-3">
                    {{ form.acCoachNo.label_tag }}
                    {% if form.is_bound %}
                        {% if form.acCoachNo.errors %}
                            {% render_field form.acCoachNo class="form-control is-invalid" %}
                            {% for error in form.acCoachNo.errors %}
                                <div class="invalid-feedback ">
                                {{ error }}
                                </div>
                            {% endfor %}
                        {% else %}
                            {% render_field form.acCoachNo class="form-control is-valid" %}
                        {% endif %}
                    {% else %}
                        {% render_field form.acCoachNo class="form-control" %}
                    {% endif %}

                </div>
                <div class = "col-md-3">
                    {{ form.slCoachNo.label_tag }}
                    {% if form.is_bound %}
                        {% if form.slCoachNo.errors %}
                            {% render_field form.slCoachNo class="form-control is-invalid" %}
                            {% for error in form.slCoachNo.errors %}
                                <div class="invalid-feedback ">
                                {{ error }}
                                </div>
                            {% endfor %}
                        {% else %}
                            {% render_field form.slCoachNo class="form-control is-valid" %}
                        {% endif %}
                    {% else %}
                        {% render_field form.slCoachNo class="form-control" %}
                    {% endif %}

                </div>
            </div>
            </br>
            <div class="w3-center">
                <div class="w3-bar">
                    <button type="submit" class="btn btn-lg btn-primary w3-center ">Register this Train</button>
                </div>
            </div>
        </form>
    </div>
</div>


















{% endblock %}